<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>sinatra練習</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <%= yield %>
  </div>
</body>
</html>
